@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #101010;
}

body {
  font-family: "Roboto mono", serif;
}

.main-dir {
  box-shadow: #0f172a 0px 20px;
}
