@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 12%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layer-0 {
  background-color: hsl(0, 0%, 12%);
}
.layer-1 {
  background-color: hsl(0, 0%, 17%);
}
.layer-2 {
  background-color: hsl(0, 0%, 23%);
}

.info {
  display: inline-block;
}
.tab .timezone-field {
  font-size: 1em;
  font-weight: 600;
}
.tab .time-field {
  font-size: 1em;
}
.tab .text {
  font-size: 1em;
  opacity: 0.7;
}
.tab p {
  font-size: 1em;
  opacity: 0.9;
}

.tab .shrunk {
  font-size: 0.7em;
}

.tab input {
  max-width: 40%;
}

.b-tab {
  min-width: 25%;
  background-color: hsl(0, 0%, 17%);
  padding: 0.5rem;
  padding-inline: 1rem;
  font-size: 1.25rem;
  transition-property: all;
  transition-duration: 200ms;
}

.b-tab:hover {
  background-color: hsl(0, 0%, 27%);
  font-size: 1.35rem;
  padding: 0.35rem;
  padding-inline: 0.85rem;
}

.b-tab:active {
  transition-duration: 100ms;
  background-color: hsl(0, 0%, 22%);
  padding: 0.6rem;
  padding-inline: 1.1rem;
  font-size: 1.15rem;
}

.selected {
  text-decoration: underline;
}

.tab {
  font-size: 4em;
  min-width: 40em;
  height: fit-content;
  width: fit-content;
  display: none;
}

.active {
  display: inline-block;
}
